.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #007bff; /* Primary Color */
  color: white;
  font-family: 'Arial', sans-serif;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.version {
  font-size: 14px;
  margin-left: 5px;
}

.options {
  display: flex;
  gap: 20px;
}

.option-link {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.option-link:hover {
  text-decoration: underline;
}
