/* App.css */

.main-container {
  display: flex;
  padding: 20px;
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: auto;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content {
  flex: 1; /* Allow this section to take available space */
}

.saved-urls {
  margin-left: 20px; /* Add space between input and saved URLs */
  flex: 0 0 250px; /* Fixed width for the saved URLs section */
}

h1, h2 {
  text-align: center;
}

label {
  margin-bottom: 5px;
  display: block;
}

input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
  width: 100%;
}

.button:hover {
  background-color: #0056b3;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 10px 0;
  display: flex; /* Flex layout for URL items */
  justify-content: space-between; /* Space out the URL and buttons */
}

.url-link {
  cursor: pointer;
  color: #007BFF;
  text-decoration: underline;
  flex-grow: 1; /* Allow URL link to grow and fill space */
}

.url-link:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: #007BFF;
}

a:hover {
  text-decoration: underline;
}
